:root {
--accent-color: #FF6C00;
--main-title-color: #FFF;

}


body {
    font-family: 'Open Sans', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.title {
        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.1px;
}

.after-title {
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.36px;
}

.pre-title {
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.1px;
        text-transform: uppercase;
}
/* ---------------------------------HEADER------------------------------ */

.header-link {
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.header-tel {
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
}
.header-btn{
        color: #FFF;
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
}

/* ----------------------------------------------HERO------------------------------------------- */

.hero-link {
        color: #303030;
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.2px;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
        color: rgba(157, 164, 189, 0.60);
}

.hero-title {
        color: var(--main-title-color);
        font-family: 'Raleway', sans-serif;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.6px;
}

.hero-after-title {
        color: #9DA4BD;
}

/* ------------------------------------------------ABOUT---------------------------------- */
.about-pre-title {
        color: #303030;
}

.about-title {
        color: #303030;
}

.about-after-title {
        color: #555;
}

.about-text {
        color: #555;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.28px;
}

.about-btn {
        color: #303030;
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
}

/* --------------------------------------------PRICES--------------------------------------- */

.prices {
        background-color: #303030;
}

.prices-pre-title {
                color: rgba(157, 164, 189, 0.60);
}

.prices-title {
                color: var(--main-title-color);
}

.prices-list-text {
                color: #9DA4BD;
                font-size: 18px;
                line-height: 1.67;
                letter-spacing: 0.36px;
}

.prices-btn {
                color: #FFF;
                font-family: inherit;
                font-size: 12px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 1.08px;
                text-transform: uppercase;
}

/* -----------------------------------BENEFITS------------------------------------ */

.benefits-item span {
        color: #303030;
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.1px;
}

.benefits-item sup {
                color: #FF6C00;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
}

.benefits-item-text {
        color: #303030;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
}

.benefits-pre-title {
                color: #303030;
}

.benefits-title {
                color: #303030;
}

.benefits-after-title {
                color: #555;
}