:root {
--accent-color: #FF6C00;
--main-title-color: #FFF;

}

p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
}
ul {
        margin: 0;
        padding-left: 0;
}

button {
        cursor: pointer;
}

address {
        font-style: normal;
}

img {
        display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.title {
        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.1px;
}

.after-title {
        font-size: 18px;
        
        line-height: 1.67;
        letter-spacing: 0.36px;
}

.pre-title {
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.1px;
        text-transform: uppercase;
}

.btn {
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        outline: 2px solid rgb(107, 4, 4);
}
/* ---------------------------------HEADER------------------------------ */

.header {
        background-color: rgb(185, 176, 176);
        padding-top: 32px;
        padding-bottom: 32px;
}

.header-logo {
        margin-right: 131px;
}

.header .container {
        display: flex;
        align-items: center;
}

.header-list {
        display: flex;
        column-gap: 30px;
}

.header-link {
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.header-contact {
        margin-left: auto;
}

.header-tel {
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
}
.header-btn{
        color: #FFF;
        margin-left: 45px;
}

/* ----------------------------------------------HERO------------------------------------------- */

.hero .container {
display: flex;
}

.hero-list {
        width: 100px;
}

.hero-link {
        color: #303030;
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.2px;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-content {
        background-color: rgb(150, 144, 144);
        padding: 272px 100px 206px;
        flex-grow: 1;
}

.hero-pre-title {
        color: rgba(157, 164, 189, 0.60);
        margin-bottom: 20px;
}

.hero-title {
        color: var(--main-title-color);
        font-family: 'Raleway', sans-serif;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.6px;
        margin-bottom: 20px;
}

.hero-after-title {
        color: #9DA4BD;
        max-width: 360px;
}

/* ------------------------------------------------ABOUT---------------------------------- */

.about{
        padding-top: 130px;
        padding-bottom: 130px;
}

.about-pre-title {
        color: #303030;
        margin-bottom: 20px;
}

.about-title {
        color: #303030;
        margin-bottom: 20px;
}

.about-after-title {
        color: #555;
        margin-bottom: 20px;
}

.about-text {
        color: #555;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.28px;
        margin-bottom: 40px;
}

.about-btn {
        color: #303030;
}

/* --------------------------------------------PRICES--------------------------------------- */

.prices {
        background-color: #303030;
        padding-top: 130px;
        padding-bottom: 130px;
}

.prices-pre-title {
        color: rgba(157, 164, 189, 0.60);
        margin-bottom: 20px;

}

.prices-title {
        color: var(--main-title-color);
        margin-bottom: 44px;
}

.prices-list {
border: 1px solid white;
padding: 30px 40px;
}

.prices-item {
        margin-bottom: 20px;
}

.prices-list-text {
        color: #9DA4BD;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.36px;
}

.prices-btn {
        color: #FFF;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
}

/* -----------------------------------BENEFITS------------------------------------ */

.benefits {
        padding-top: 121px;
        padding-bottom: 130px;
}

.benefits-item {
        width: 170px;
        height: 133px;
        border: 1px solid wheat;
        padding: 20px 24px;
}

.benefits-item span {
        color: #303030;
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.1px;
}

.benefits-item sup {
                color: #FF6C00;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
}

.benefits-item-text {
        color: #303030;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: normal;
}

.benefits-pre-title {
        color: #303030;
        margin-bottom: 20px;
}

.benefits-title {
        color: #303030;
        margin-bottom: 20px;
}

.benefits-after-title {
        color: #555;

}

 /* ---------------------------BARBERS-----------------------------*/

   .barbers-pre-title {
        color: #303030;
   }

   .barbers-title {
        color: #303030;
   }

   .barbers-item-title {
                color: #303030;
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
                margin-bottom: 8px;
   }

   .barbers-item-text {
                color: var(--accent-color);
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.28px;
   }

   .barbers-wrap {
        padding-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
   }
/* -----------------------------------GALLERY--------------------------------------- */

   .gallery-pre-title {
        color: #303030;
   }
